@using ANC25_WEBAPI_DLL.Services
@using DAL_Celebrity_MSSQL
@using Microsoft.AspNetCore.Mvc.Rendering
@model Celebrity//Устанавливает тип модели, которая будет передана в представление.

@{
    // блок инициализации
    ViewData["Title"] = "Добавить знаменитость";// Устанавливаем заголовок страницы
    var countries = ViewBag.Countries as CountryCodes;  // Получаем список стран из ViewBag
    var sCountries = new SelectList(countries, "code", "countryLabel");// Создаём выпадающий список
}

<h2>@ViewData["Title"]</h2>



@using (Html.BeginForm("Create", "Celebrities", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row mb-3">
        @Html.TextBox("fullname", "", new { 
            @class = "form-control col-8",
                placeholder = "Имя знаменитости",//ткрываем HTML-форму:
            required = "required"
        })
        
        @Html.DropDownList("Nationality", sCountries, "Выберите страну", new {
                @class = "form-control col-4",//Выпадающий список стран
            required = "required"
        })
    </div>
    // Поле загрузки изображения
    <div class="row mb-3">
        <input id="upload" name="upload" type="file" 
               style="display:none;" 
               accept="image/jpeg" 
               onchange="onChange(this)" 
               required />
               
        <button class="btn btn-outline-secondary col-12" 
                id="butupload" 
                type="button" 
                onclick="document.getElementById('upload').click()">
            Загрузить фото
        </button>
    </div>
    
    <div class="row">
        <button class="btn btn-primary col-6" type="submit">Сохранить</button>
        <button class="btn btn-outline-danger col-6" type="reset">Отмена</button>
    </div>
}

@section Scripts {
    <script>
        function onChange(e) {
            const fileName = e.files[0]?.name || "Загрузить фото";//берет имя загруженного файла; вставляет его в текст кнопки "Загрузить фото", чтобы пользователь видел, что выбрал.
            document.getElementById('butupload').innerText = fileName;
        }
    </script>
}
